/log/*
/db/*.sqlite3
/hitc-tatool-client/*
/tatool-1.2.1-fork/*
/doc/*
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.htm
.svn/*
